<h1>智能终端管理</h1>
<nz-card class="card">
  <ng-template #title>展商查询</ng-template>
  <ng-template #body>
    <form nz-form [formGroup]="searchForm" (ngSubmit)="search()">
      <div nz-row nz-form-item>
        <div nz-form-label nz-col [nzSm]="2">
          <label>会展名称</label>
        </div>
        <div nz-form-control nz-col [nzSm]="4">
          <nz-input formControlName="name"></nz-input>
        </div>
        <div nz-form-label nz-col [nzSm]="2">
          <label>公司名称</label>
        </div>
        <div nz-form-control nz-col [nzSm]="4">
          <nz-input formControlName="company"></nz-input>
        </div>
        <div nz-col [nzSm]="12">
          <div class="text-right">
            <button nz-button [nzType]="'primary'" type="submit" style="margin-right:2px;white-space: nowrap;">&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;&nbsp;</button>
            <button nz-button type="reset" style="margin-right:2px;white-space: nowrap;">&nbsp;&nbsp;清&nbsp;&nbsp;空&nbsp;&nbsp;</button>
         </div>          
        </div>
      </div>
    </form>
  </ng-template>
</nz-card>
<nz-card class="card">
  <ng-template #title>
    展商信息
    <div class="right"> 
      <button nz-button [nzType]="'primary'">
        <span>添加展商</span>
      </button>
      <nz-dropdown>
        <button nz-button nz-dropdown><span>排序</span> <i class="anticon anticon-down"></i></button>
        <ul nz-menu>
          <li nz-menu-item>
            <a (click)='sort("ispay")'>付费状态</a>
          </li>
          <li nz-menu-item>
            <a (click)='sort("startTime")'>起止日期</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </ng-template>
  <ng-template #body>    
    <nz-table #nzTable [nzAjaxData]="Exhibitor$ | async" [nzPageSize]="10" [nzIsPagination]="false">
      <thead nz-thead class="thead">
      <tr>
        <th nz-th nz-col [nzSpan]="2"><span class="marginLeft">终端号</span></th>
        <th nz-th nz-col [nzSpan]="6"><span>会展名称</span></th>
        <th nz-th nz-col [nzSpan]="5"><span>使用公司</span></th>
        <th nz-th nz-col [nzSpan]="3"><span>付费状态</span></th>
        <th nz-th nz-col [nzSpan]="5"><span>起止日期</span></th>
        <th nz-th nz-col [nzSpan]="3"><span>操作</span></th>
      </tr>
      </thead>
      <tbody nz-tbody class="tbody">
      <tr nz-tbody-tr *ngFor="let data of nzTable.data;let id = index">
        <td nz-td nz-col [nzSpan]="2"><span class="marginLeft">{{id+1}}</span></td>
        <td nz-td nz-col [nzSpan]="6"><a routerLink='/terminal-management/exhibitionDetail' (click)='getExName(data.ItemName)'>{{data.ItemName}}</a></td>
        <td nz-td nz-col [nzSpan]="5"><a >{{data.companyName}}</a></td>
        <td nz-td nz-col [nzSpan]="3">{{data.ispay?'已支付':'待支付'}}</td>
        <td nz-td nz-col [nzSpan]="5">{{data.startTime}}至{{data.endTime}}</td>
        <td nz-td nz-col [nzSpan]="3">
          <span>
            <a (click)="info(contentTpl)"><span>删除</span></a>
            <ng-template #contentTpl>
              <div>
                确定要删除该条记录吗?
              </div>
            </ng-template>
            <span nz-table-divider></span>
            <a (click)="update()"><span>修改</span></a>
            <ng-template>

            </ng-template>
          </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-template>
</nz-card>
